<app-header titulo="Grid"> </app-header>

<ion-content>
  <ion-grid padding>
    <ion-row>
      <ion-col>
        Pedro de Alcântara 
      </ion-col>
      <ion-col>
        Pedro de Alcântara 
      </ion-col>
      <ion-col>
        Pedro de Alcântara 
      </ion-col>
      <ion-col>
        Pedro de Alcântara 
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="6">
        Pedro de Alcântara 
      </ion-col>
      <ion-col>
        Pedro de Alcântara 
      </ion-col>
      <ion-col>
        Pedro de Alcântara 
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3">
        Pedro de Alcântara 
      </ion-col>
      <ion-col>
        Pedro de Alcântara 
      </ion-col>
      <ion-col offset="1">
        Pedro de Alcântara 
      </ion-col>
    </ion-row>
    </ion-grid>
  

</ion-content>
